<div class="pagination">
  <% if(pagination.includes(Number(current_page) - 1)) {%>
  <a href="<%= loaded_page %>?page=<%= Number(current_page) - 1 %>">
    <a href="<%= loaded_page %>?page=<%= Number(current_page) - 1 %>" class="left button"><span>< Previous</span></a>
  </a>
  <% } else {%>
  <button href="#" class="left button disabled"><span>< Previous</span></button>
  <%}%>
  <!--  -->
  <div class="pages">
    <% for(page of pagination) { %> <% if (page == current_page) {%>
    <a class="active" href="#"><span><%=page + 1%></span></a>
    <% } else { %>
    <a ref="<%= loaded_page %>?page=<%=page %>"><span><%=page + 1%></span></a>
    <% } %> <% } %>
  </div>

  <% if(pagination.includes(Number(current_page) + 1)) {%>
  <a href="<%= loaded_page %>?page=<%= Number(current_page) + 1 %>" class="right button"><span>Next ></span></a>
  <% } else {%>
  <button class="right button disabled"><span>Next ></span></button>
  <%}%>
</div>
